<!DOCTYPE html>
<html>
    <head>
        <title> {{title}} </title>
        {{> links_partial}}
    </head>
    <body>
        {{> top_body_partial}}
        <div class="main-body-container">
            <div class="nav-profile">
                <br>
                <!--{{{welcome}}}-->
                <h2> Welcome, 
                    <div class="welcome">{{username}}!</div>
                </h2>
                <br>
                <div class="login-stuff">
                {{#if signed_in}}
                    <div class='user-profile'>
                        <button class='profile-button'>My Profile</button>
                    </div>
                        <br><br>
                    <div class='sign-out'>
                        <button class='sign-out-button'>Sign Out</button>
                    </div>
                {{else}} 
                    <div class='sign-in'>
                        <input type='text' class='username' placeholder='username'> <br>
                        <input type='password' class='password' placeholder='password'> <br>
                        <button class='sign-in-button'>Sign In</button>
                    </div>
                    <br>
                    <div class='sign-up'>
                        <button class='sign-up-button' 
                        title="Signing up has many benefits! 
                        You can save you favorite numbers, 
                        visit other users and save them as your favorites, 
                        and show off your best creations!">Sign Up</button>
                    </div>
                {{/if}}
                </div>
            </div>
            <div class="main-view">
                <div class="intro-container">
                    <div class='intro'>
                        <h1> Welcome to <i>NumeraMusa</i>! </h1>
                        You can enter numbers below and <br> hear what it sounds like!
                        <br><br>
                        You can also hear NumeraMusa (number-music) <br> created by others, to the left!
                    </div>
                </div>
                
                <div class="viewer">
                    <div class="numbers"> <div class="now-playing">  Now playing... </div>
                    <div class="entered-number"></div>
                    </div>
                </div>  
                <div class="enter-number">
                    
                    <input type="text" class="enter-number-text"  placeholder="Enter a number..." title="Enter a number here to play the music! Hint: Anything other than numbers will be ignored.">
                    <!-- onkeypress="return event.charCode >= 48 && event.charCode <= 57"-->
                    <button class="enter-number-button">Play!</button>
                    <!--
                    <br>
                    <button class="digit" name="0">0</button>
                    <button class="digit" name="1">1</button>
                    <button class="digit" name="2">2</button>
                    <button class="digit" name="3">3</button>
                    <button class="digit" name="4">4</button>
                    <button class="digit" name="5">5</button>
                    <button class="digit" name="6">6</button>
                    <button class="digit" name="7">7</button>
                    <button class="digit" name="8">8</button>
                    <button class="digit" name="9">9</button>
                    <br>
                    -->
                </div>  
            </div>
            <div class="nav-music">
                <div class="recent">
                    <div class="recents-label" title="Go to another user's profile, or click the numbers to listen to some of the numbers!"> Recent Numbers </div>
                    {{> recents_partial }}
                </div>    
            </div>
        </div>
        <!--
        {{#if signed_in}} 
        {{else}}
            <div class="explanation">
                <h1> Welcome to <i>NumeraMusa</i>! </h1>
                You can enter numbers below and <br> hear what it sounds like!
                <br><br>
                You can also hear NumeraMusa (number-music) <br> created by others, to the left!
                <br>
                <div class="crossout">x</div>
            </div>
        {{/if}}
        -->
    </body>
</html>