<!DOCTYPE html>
<html>
    <head>
        <title> {{title}} </title>
        {{> links_partial}}
    </head>
    <body>
        <!----
        <div class="top-body-container">
            <div class="logo-container">
                <div>Logo</div>
            </div>
            <div class="music-player-container">
                <div class="music-player"><br>
                    <button class="play"> &#9658; </button>
                    <button class="pause"> &#10074;&#10074; </button>
                    <button class="stop"> &#8718; </button>  
                    <div class="playing_user_container">
                        <div class="player_text playing"></div>
                        <div class="player_text user"></div>
                    </div>
                </div>
            </div>
        </div>
        -->
        {{> top_body_partial}}
        <div class="main-body-container">
            <div class="nav-profile">
                <br>
                {{{welcome}}}
                <br>
                <div class="login-stuff">
                    {{{login}}}
                    {{{signin}}}
                    <br>
                    {{{signup}}}

                    <!-- <div class="sign-in">
                        <input type="text" class="username" placeholder="username"> <br>
                        <input type="text" class="password" placeholder="password"> <br>
                        <button class="sign-in-button">Sign In</button>
                    </div>
                    <div class="sign-up">
                        <button class="sign-up-button">Sign Up</button>
                    </div> -->
                </div>
            </div>
            <div class="main-view">
                <div class="viewer">
                    <div class="numbers">
                    <div class="entered-number"></div>
                    </div>
                </div>  
                <div class="enter-number">
                    <input type="text" class="enter-number-text" placeholder="Enter a number..." onkeypress="return event.charCode >= 48 && event.charCode <= 57">
                    <button class="enter-number-button">Play!</button>
                    <!--<button class="test-button">Test</button>-->
                    <br>
                    <button class="digit" name="0">0</button>
                    <button class="digit" name="1">1</button>
                    <button class="digit" name="2">2</button>
                    <button class="digit" name="3">3</button>
                    <button class="digit" name="4">4</button>
                    <button class="digit" name="5">5</button>
                    <button class="digit" name="6">6</button>
                    <button class="digit" name="7">7</button>
                    <button class="digit" name="8">8</button>
                    <button class="digit" name="9">9</button>
                    <br>
                </div>  
            </div>
            <div class="nav-music">
                <div class="recent">
                    <!--
                    <script>
                        setInterval("my_function();",5000); 
                        function my_function(){
                            $('#recent').load(location.href + ' #recent');
                        }
                    </script>
                    -->
                    {{{recents}}}
                </div>    
            </div>
        </div>
    </body>
</html>