<!DOCTYPE html>
<html>
    <head>
        <title> {{title}} </title>
        {{> links_partial}}
    </head>
    <body>
        <!---->
        {{> top_body_partial}}
        <div class="main-body-container">
            <div class="nav-profile">
                <h2><a href="/profile/'+username+'">{{username}}</a></h2>
            </div>
            <div class="main-view">
                <div class="viewer">
                </div>  
            </div>
            <div class="nav-music">
                {{#if user_own_profile}}
                    <div class="recent profile-recent">
                        {{#my_recent}}
                            <div class="play_recent" style="display:inline-block" data-username={{player}} data-num={{user_number}}>
                                {{user_number_short}}
                            </div>
                            <br>
                        {{/my_recent}}
                    </div>                 
                    <div class="recent profile-recent">
                        {{> recents_partial}}
                    </div>   
                {{else}}
                    <div class="recent">
                        {{> recents_partial}}
                    </div> 
                {{/if}}
                
            </div>
        </div>
    </body>
</html>