<!DOCTYPE html>
<html>
    <head>
        <title> {{title}} </title>
        {{> links_partial}}
    </head>
    <body>
        <!---->
        {{> top_body_partial}}
        <div class="main-body-container">
            <div class="nav-profile">
                <div class="profile-stuff">
                    <h2><a href="/profile/{{username}}">{{username}}</a></h2>
                    {{#if signed_in}}
                        <div class='user-profile'>
                            <button class='profile-button'>My Profile</button>
                        </div>
                        <button class="sign-out-button"> Sign Out </button>
                        {{#if user_own_profile}}
                        {{else}}
                            {{#if in_fav_users}}
                                <div> {{username}} is one of your favorites! </div>
                            {{else}}
                                <button class="add-user-fav" data-username={{username}}>Add {{username}} to my favorites!</button>
                            {{/if}}
                        {{/if}}
                    {{/if}}
                </div>
            </div>
            <div class="main-view">
                <div class="viewer">
                    <div class="recent">
                        {{#fav_nums}}
                            <div class="play_recent" style="display:inline-block" data-username={{player}} data-num={{num_short}}>
                                {{num}}
                            </div> by 
                            {{#if anon}}
                                anon
                            {{else}}
                                <a href="/profile/{{player}}">{{player}}</a>
                            {{/if}}
                        {{/fav_nums}}
                    </div>
                    {{#if user_own_profile}}
                            <div class="fav-users">
                                {{#fav_users}}
                                    <a href="/profile/{{fav_username}}">{{fav_username}}</a>
                                {{/fav_users}}
                            </div>
                     {{/if}}
                </div>  
            </div>
            <div class="nav-music">
                {{#if user_own_profile}}
                    <div class="recent profile-recent">
                        <div class="recents-label"> My Numbers </div>
                        <div class="recent-list">
                            {{#my_recent}}
                                <div class="play_recent" style="display:inline-block" data-username={{player}} data-num={{user_number}}>
                                    {{user_number_short}}
                                </div>
                                <br>
                            {{/my_recent}}
                        </div>
                    </div>
                    <div class="recent profile-recent">
                        <div class="recents-label"> Recent Numbers </div>
                        {{> recents_partial}}
                    </div>   
                {{else}}
                    <div class="recent">
                        <div class="recents-label"> Recent Numbers </div>
                        {{> recents_partial}}
                    </div> 
                {{/if}}
                
            </div>
        </div>
    </body>
</html>