<!DOCTYPE html>
<html>
    <head>
        <title> {{title}} </title>
        {{> links_partial}}
    </head>
    <body>
        <!---->
        {{> top_body_partial}}
        <div class="main-body-container">
            <div class="nav-profile-full">
                {{#if signed_in}}
                <div class="signed-in-as">
                     Signed in as  <a href="/profile/{{signed_in_as}}">{{signed_in_as}}</a>  
                </div>
                {{/if}}
                <div class="nav-profile">
                    <div class="profile-stuff">
                        <div class="username-area">
                            <h2>{{username}}</h2>
                        </div>
                        <div class="nav-profile-content">
                        {{#if signed_in}}
                            {{#if user_own_profile}}
                                <button class="fav-numbers"> My favorite numbers! </button>
                                <button class="fav-users"> My favorite users! </button>
                            {{else}}
                                {{#if in_fav_users}}
                                    <div> {{username}} is one of your favorites! </div>
                                {{else}}
                                    <button class="add-user-fav" data-username={{username}}>Add {{username}} to my favorites!</button>
                                {{/if}}
                            {{/if}}
                            
                            <br><br><br><br><br><br>
                            <div class='user-profile'>
                                <button class='profile-button'>My Profile</button>
                            </div>
                            <br>
                            <button class="sign-out-button"> Sign Out </button>
                        {{/if}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-view">
                <div class="profile-viewer">
                    <div class="profile recent">
                        <div class="profile-main numbers">
                            {{#if user_own_profile}}
                                <b>My favorite numbers</b> <br><br>
                            {{else}}
                                <b>{{username}}'s favorite numbers</b> <br><br>
                            {{/if}}
                            <div class="fav-stuff-container">
                            <table>
                                <tr>
                                    <td> Number </td>
                                    <td></td>
                                    <td> Artist </td>
                                    {{#if user_own_profile}}
                                        <td> Public? </td>
                                    {{/if}}
                                </tr>
                                <tr><td></td></tr>
                            {{#fav_nums}}
                                <tr>
                                    <td>
                                        <div class="play_recent" style="display:inline-block" data-username={{player}} data-num={{num}}>
                                            {{num_short}}
                                        </div> 
                                    </td>
                                    <td> by </td>
                                    <td>
                                        {{#if anon}}
                                            anon
                                        {{else}}
                                            <a href="/profile/{{player}}">{{player}}</a>
                                        {{/if}}
                                    </td>
                                    {{#if user_own_profile}}
                                        {{#if visibility}}
                                        <td> <input type="checkbox" data-username={{player}} data-num={{num}} data-visibility={{visibility}} class="is_public" checked /> </td>
                                        {{else}}
                                        <td> <input type="checkbox" data-username={{player}} data-num={{num}} data-visibility={{visibility}} class="is_public" /> </td>
                                        {{/if}}
                                    {{/if}}
                                </tr>
                            {{/fav_nums}}
                            </table>
                            </div>
                            {{#if user_own_profile}}
                            
                            <div class="profile-main-buttons">
                                <button class="save-public"> Save </button> 
                                <button class="cancel-public"> Cancel</button>
                            </div>
                            {{/if}}
                        </div>
                        <div class="profile-main users">
                            {{#if user_own_profile}}
                            <div class="fav-stuff-container">
                                <b>My favorite users</b> <br><br>
                                <div class="fav-users">
                                    {{#fav_users}}
                                        <a href="/profile/{{fav_username}}">{{fav_username}}</a>
                                        <br>
                                    {{/fav_users}}
                                </div>
                            </div>
                            {{/if}}
                        </div>
                    </div>
                </div>  
            </div>
            <div class="nav-music">
                {{#if user_own_profile}}
                    <div class="recent profile-recent">
                        <div class="recents-label"> My Numbers </div>
                        <div class="recent-list">
                            {{#my_recent}}
                                <div class="play_recent" style="display:inline-block" data-username={{player}} data-num={{user_number}}>
                                    {{user_number_short}}
                                </div>
                                <br>
                            {{/my_recent}}
                        </div>
                    </div>
                    <div class="recent profile-recent">
                        <div class="recents-label"> Recent Numbers </div>
                        {{> recents_partial}}
                    </div>   
                {{else}}
                    <div class="recent">
                        <div class="recents-label"> Recent Numbers </div>
                        {{> recents_partial}}
                    </div> 
                {{/if}}
                
            </div>
        </div>
    </body>
</html>